.romanWordView {
	display: inline-block;
	padding: var(--chip-padding-v, 0.25em) var(--chip-padding-h, 0.5em);
	border-radius: var(--chip-radius, var(--radius-4));
	text-align: center;

	background-color: var(--color-panel);
	box-shadow: var(--base-card-surface-box-shadow);
}

.romanWordView.placeholder {
	color: var(--gray-a6);
	font-style: italic;
}

.romanWordView:has(input) {
	background-color: var(--color-component-background);
}

.romanWordView :global(input) {
	text-align: center;
	font-size: var(--font-size-1);
}

.romanWordInput {
	text-align: center;
}

.romanWordInput :global(input) {
	text-align: center;
	font-size: var(--font-size-1);
}

.warning {
	background-color: var(--orange-a3);
}
